body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.movie-director{
  color:chocolate;
  font-size: 20px;
}
.header{
  text-align: left;
  margin-bottom: 10px;
}
.movie {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: lightgray;
  text-align: left;
}
.movie-stars{
  font-size: 12px;
}
.App{
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
